In [7]:
# Install required packages

!pip install cryptography
!pip install datetime
!pip install python-dateutil
!pip install faker
#!pip install openpyxl

Requirement already satisfied: cryptography in /usr/local/python/3.10.13/lib/python3.10/site-packages (42.0.5)
Requirement already satisfied: cffi>=1.12 in /home/codespace/.local/lib/python3.10/site-packages (from cryptography) (1.16.0)
Requirement already satisfied: pycparser in /home/codespace/.local/lib/python3.10/site-packages (from cffi>=1.12->cryptography) (2.21)
Requirement already satisfied: datetime in /usr/local/python/3.10.13/lib/python3.10/site-packages (5.5)
Requirement already satisfied: zope.interface in /usr/local/python/3.10.13/lib/python3.10/site-packages (from datetime) (6.2)
Requirement already satisfied: pytz in /home/codespace/.local/lib/python3.10/site-packages (from datetime) (2024.1)
Requirement already satisfied: setuptools in /usr/local/python/3.10.13/lib/python3.10/site-packages (from zope.interface->datetime) (68.2.2)
Requirement already satisfied: python-dateutil in /home/codespace/.local/lib/python3.10/site-packages (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil) (1.16.0)
Requirement already satisfied: faker in /usr/local/python/3.10.13/lib/python3.10/site-packages (24.7.1)
Requirement already satisfied: python-dateutil>=2.4 in /home/codespace/.local/lib/python3.10/site-packages (from faker) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 5.2 MB/s eta 0:00:00:00:01
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [8]:
# Import required libraries

import pandas as pd
#from pathlib import Path
from cryptography.fernet import Fernet
from datetime import datetime
from dateutil.relativedelta import relativedelta
import numpy as np
from faker import Faker

# Section 1: Setup

In [9]:
# Load the HR Employee Excel file into a DataFrame
'''
employees = pd.read_excel(
    Path("../SecuringData/HR_employee_data.xlsx")
)
'''

employees = pd.read_csv("HR_employee_data.csv")

# Set display options to show all columns
pd.set_option('display.max_columns', None)

# Display the DataFrame
employees.head()

,EmpID,FirstName,LastName,StartDate,ExitDate,Supervisor,ADEmail_,EmployeeType,TerminationType,TerminationDescription,DOB,SSN_,Address_,City_,State_,Job Title_,Salary_,Gender,Race,MaritalStatus,PerformanceScore,CurrentEmployeeRating
0,3460.0,Alisa,James,2020-02-19,NaT,Dennis Henderson,alisa.james@bestremotejob.com,Full-Time,Unk,NaN,1941-03-09,773409255.0,53432 Jose Freeway Suite 977,New Davidside,IN,IT Support Specialist,79825,Male,Asian,Married,Fully Meets,3.0
1,1155.0,Allyson,Owen,2018-11-17,2020-03-12,Kimberly Marshall,allyson.owen@bestremotejob.com,Contract,Resignation,Provide machine statement now.,1942-01-07,201101960.0,700 Quinn Green Suite 066,Haileyville,MS,Product Specialist,129867,Female,Other,Married,Fully Meets,3.0
2,3913.0,Henry,Zimmerman,2020-01-14,2022-06-08,Rodney Hart,henry.zimmerman@bestremotejob.com,Full-Time,Resignation,Management so author training floor stage could.,1942-02-06,137529608.0,96444 Ingram Ford,East Michellechester,IN,Project Manager,134537,Female,White,Married,Fully Meets,3.0
3,1562.0,Kailee,Harmon,2020-09-29,2021-10-19,Thomas Garner,kailee.harmon@bestremotejob.com,Full-Time,Involuntary,Firm music future may most.,1942-04-01,654401229.0,4222 Cooper Ports,West Marissafort,LA,Sales Representative,50943,Female,Black,Single,Fully Meets,3.0
4,1403.0,Lily,DiNocco,2021-07-08,NaT,Austin Dixon,lily.dinocco@bestremotejob.com,Full-Time,Unk,NaN,1942-09-08,808972356.0,8136 Theresa Avenue Suite 172,East Natalie,IN,Account Executive,133284,Female,White,Widowed,Exceeds,3.0

# Section 2: Masking

In [10]:
# Define a function to mask the SSN 
def mask_ssn(ssn):
    return '*' * (len(ssn) - 4) + ssn[-4:]

# Replace existing SSN column with masked SSN
employees['SSN'] = employees['SSN'].astype(str).apply(mask_ssn)

# Display the first 5 rows
employees.head()

,EmpID,FirstName,LastName,StartDate,ExitDate,Supervisor,ADEmail_,EmployeeType,TerminationType,TerminationDescription,DOB,SSN_,Address_,City_,State_,Job Title_,Salary_,Gender,Race,MaritalStatus,PerformanceScore,CurrentEmployeeRating
0,3460.0,Alisa,James,2020-02-19,NaT,Dennis Henderson,alisa.james@bestremotejob.com,Full-Time,Unk,NaN,1941-03-09,*******55.0,53432 Jose Freeway Suite 977,New Davidside,IN,IT Support Specialist,79825,Male,Asian,Married,Fully Meets,3.0
1,1155.0,Allyson,Owen,2018-11-17,2020-03-12,Kimberly Marshall,allyson.owen@bestremotejob.com,Contract,Resignation,Provide machine statement now.,1942-01-07,*******60.0,700 Quinn Green Suite 066,Haileyville,MS,Product Specialist,129867,Female,Other,Married,Fully Meets,3.0
2,3913.0,Henry,Zimmerman,2020-01-14,2022-06-08,Rodney Hart,henry.zimmerman@bestremotejob.com,Full-Time,Resignation,Management so author training floor stage could.,1942-02-06,*******08.0,96444 Ingram Ford,East Michellechester,IN,Project Manager,134537,Female,White,Married,Fully Meets,3.0
3,1562.0,Kailee,Harmon,2020-09-29,2021-10-19,Thomas Garner,kailee.harmon@bestremotejob.com,Full-Time,Involuntary,Firm music future may most.,1942-04-01,*******29.0,4222 Cooper Ports,West Marissafort,LA,Sales Representative,50943,Female,Black,Single,Fully Meets,3.0
4,1403.0,Lily,DiNocco,2021-07-08,NaT,Austin Dixon,lily.dinocco@bestremotejob.com,Full-Time,Unk,NaN,1942-09-08,*******56.0,8136 Theresa Avenue Suite 172,East Natalie,IN,Account Executive,133284,Female,White,Widowed,Exceeds,3.0

# Section 3: Encryption

In [12]:
# Generate a random secret encryption key
key = Fernet.generate_key()

# Create a Fernet cipher object with the secret key
cipher = Fernet(key)

# Define a function to encrypt the email address
def encrypt_email(email):
    encrypted_email = cipher.encrypt(email.encode())
    return encrypted_email

# Encrypt the existing email address in the DataFrame
employees['ADEmail'] = employees['ADEmail'].apply(encrypt_email)

# Display the first 5 rows
employees.head()

AttributeError: 'float' object has no attribute 'encode'

# Section 4: Generalization

In [ ]:
# Calculate age from date of birth
def calculate_age(dob):
    today = datetime.today()
    age = relativedelta(today, dob).years
    return age

# Add an age column to the DataFrame
employees['Age'] = pd.to_datetime(employees['DOB']).apply(calculate_age)

# Display the first 5 rows
employees.head()

In [ ]:
# Define age ranges and alias for generalization
age_ranges = {
    (20, 29): '20s',
    (30, 39): '30s',
    (40, 49): '40s',
    (50, 59): '50s',
    (60, 69): '60s',
    (70, 79): '70s',
    (80, 89): '80s'
}

# Apply generalization to the 'Age' column
def generalize_age(age):
    for (lower, upper), category in age_ranges.items():
        if lower <= age <= upper:
            return category

# Add an age range column to the DataFrame
employees['AgeRange'] = employees['Age'].apply(generalize_age)

# Drop the DOB and Age columns
employees.drop(['DOB', 'Age'], axis=1, inplace=True)

# Display the first 5 rows
employees.head()

# Section 5: Perturbation

In [ ]:
# Set a seed for reproducibility
np.random.seed(42)  # You can use any integer value as the seed, but we will use 42 since it's the meaning of life

# Define perturbation method for salary column (adding random noise)
def perturb_salary(salary):
    noise = np.random.normal(loc=0, scale=100000)  # Add Gaussian noise with mean 0 and standard deviation 1000
    return round(salary + noise)  # Add noise to the original value and round

# Apply perturbation to the existing 'Salary' column
employees['Salary_'] = employees['Salary_'].apply(perturb_salary)

# Display the first 5 rows
employees.head()

# Section 6: Pseudonymization

In [ ]:
# Set a seed for reproducibility
Faker.seed(42)  # You can use any integer value as the seed, but we will use 42 since it's the meaning of life

# Initialize Faker to generate synthetic names
faker = Faker()

# Generate replacement first names
replacement_first_names = [faker.first_name() for _ in range(len(employees))]

# Generate replacement last names
replacement_last_names = [faker.last_name() for _ in range(len(employees))]

# Create the name mapping
name_mapping = dict(zip(zip(employees['FirstName'], employees['LastName']), zip(replacement_first_names, replacement_last_names)))

# Define a function to pseudonymize names
def pseudonymize_names(row):
    return name_mapping[(row['FirstName'], row['LastName'])]

# Pseudonymize names by replacing with replacement names
employees[['Pseudonym_First_Name', 'Pseudonym_Last_Name']] = employees.apply(pseudonymize_names, axis=1, result_type='expand')

# Save the pseudonymized dataset
employees.to_csv('pseudonymized_employee_data.csv', index=False)

# Drop the original 'First_Name' and 'Last_Name' columns
employees.drop(['FirstName', 'LastName'], axis=1, inplace=True)

# Display the first 5 rows
employees.head()

In [ ]:
# Conclusion

Now we can see all of our PII data is anonymized, yay!