In [1]:
# Install required packages

!pip install pandas
!pip install cryptography
!pip install datetime
!pip install python-dateutil
!pip install faker

Requirement already satisfied: pandas in c:\users\monic\anaconda3\envs\dev\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\monic\anaconda3\envs\dev\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\monic\anaconda3\envs\dev\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\monic\anaconda3\envs\dev\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\monic\anaconda3\envs\dev\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: cryptography in c:\users\monic\anaconda3\envs\dev\lib\site-packages (39.0.1)
Requirement already satisfied: cffi>=1.12 in c:\users\monic\anaconda3\envs\dev\lib\site-packages (from cryptography) (1.15.1)
Requirement already satisfied: pycparser in c:\users\monic\anaconda3\envs\dev\lib\site-packages (from cffi>=1.12->cryptography) (2.21)
Requirement already satisfied: datetime in c:\users\monic\anaconda3\envs\dev\lib\site-packages (5.5)
Requirement already satisfied: zope.interface in c:\users\monic\anaconda3\envs\dev\lib\site-packages (from datetime) (5.4.0)
Requirement already satisfied: pytz in c:\users\monic\anaconda3\envs\dev\lib\site-packages (from datetime) (2022.7)
Requirement already satisfied: setuptools in c:\users\monic\anaconda3\envs\dev\lib\site-packages (from zope.interface->datetime) (66.0.0)
Requirement already satisfied: python-dateutil in c:\users\monic\anaconda3\envs\dev\lib\site-packages (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\monic\anaconda3\envs\dev\lib\site-packages (from python-dateutil) (1.16.0)
Requirement already satisfied: faker in c:\users\monic\anaconda3\envs\dev\lib\site-packages (24.8.0)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\monic\anaconda3\envs\dev\lib\site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\monic\anaconda3\envs\dev\lib\site-packages (from python-dateutil>=2.4->faker) (1.16.0)

In [2]:
# Import required libraries

import pandas as pd
#from pathlib import Path
from cryptography.fernet import Fernet
from datetime import datetime
from dateutil.relativedelta import relativedelta
import numpy as np
from faker import Faker

# Section 1: Setup

In [3]:
# Load the HR Employee Excel file into a DataFrame
'''
employees = pd.read_csv(
    Path("../SecuringData/HR_employee_data.csv")
)
'''

employees = pd.read_csv("HR_employee_data.csv", parse_dates=['DOB'])


# Set display options to show all columns
pd.set_option('display.max_columns', None)

# Display the DataFrame
employees.head()

,EmpID,FirstName,LastName,StartDate,ExitDate,Supervisor,ADEmail,EmployeeType,TerminationType,TerminationDescription,DOB,SSN,Address,City,State,JobTitle,Salary,Gender,Race,MaritalStatus,PerformanceScore,CurrentEmployeeRating
0,3460.0,Alisa,James,19-Feb-20,NaN,Dennis Henderson,alisa.james@bestremotejob.com,Full-Time,Unk,NaN,1941-03-09,773-40-9255,53432 Jose Freeway Suite 977,New Davidside,IN,IT Support Specialist,79825,Male,Asian,Married,Fully Meets,3.0
1,1155.0,Allyson,Owen,17-Nov-18,12-Mar-20,Kimberly Marshall,allyson.owen@bestremotejob.com,Contract,Resignation,Provide machine statement now.,1942-01-07,201-10-1960,700 Quinn Green Suite 066,Haileyville,MS,Product Specialist,129867,Female,Other,Married,Fully Meets,3.0
2,3913.0,Henry,Zimmerman,14-Jan-20,8-Jun-22,Rodney Hart,henry.zimmerman@bestremotejob.com,Full-Time,Resignation,Management so author training floor stage could.,1942-02-06,137-52-9608,96444 Ingram Ford,East Michellechester,IN,Project Manager,134537,Female,White,Married,Fully Meets,3.0
3,1562.0,Kailee,Harmon,29-Sep-20,19-Oct-21,Thomas Garner,kailee.harmon@bestremotejob.com,Full-Time,Involuntary,Firm music future may most.,1942-04-01,654-40-1229,4222 Cooper Ports,West Marissafort,LA,Sales Representative,50943,Female,Black,Single,Fully Meets,3.0
4,1403.0,Lily,DiNocco,8-Jul-21,NaN,Austin Dixon,lily.dinocco@bestremotejob.com,Full-Time,Unk,NaN,1942-09-08,808-97-2356,8136 Theresa Avenue Suite 172,East Natalie,IN,Account Executive,133284,Female,White,Widowed,Exceeds,3.0

# Section 2: Masking

In [4]:
# Define a function to mask the SSN 
def mask_ssn(ssn):
    return '*' * (len(ssn) - 4) + ssn[-4:]

# Replace existing SSN column with masked SSN
employees['SSN'] = employees['SSN'].astype(str).apply(mask_ssn)

# Display the first 5 rows
employees.head()

,EmpID,FirstName,LastName,StartDate,ExitDate,Supervisor,ADEmail,EmployeeType,TerminationType,TerminationDescription,DOB,SSN,Address,City,State,JobTitle,Salary,Gender,Race,MaritalStatus,PerformanceScore,CurrentEmployeeRating
0,3460.0,Alisa,James,19-Feb-20,NaN,Dennis Henderson,alisa.james@bestremotejob.com,Full-Time,Unk,NaN,1941-03-09,*******9255,53432 Jose Freeway Suite 977,New Davidside,IN,IT Support Specialist,79825,Male,Asian,Married,Fully Meets,3.0
1,1155.0,Allyson,Owen,17-Nov-18,12-Mar-20,Kimberly Marshall,allyson.owen@bestremotejob.com,Contract,Resignation,Provide machine statement now.,1942-01-07,*******1960,700 Quinn Green Suite 066,Haileyville,MS,Product Specialist,129867,Female,Other,Married,Fully Meets,3.0
2,3913.0,Henry,Zimmerman,14-Jan-20,8-Jun-22,Rodney Hart,henry.zimmerman@bestremotejob.com,Full-Time,Resignation,Management so author training floor stage could.,1942-02-06,*******9608,96444 Ingram Ford,East Michellechester,IN,Project Manager,134537,Female,White,Married,Fully Meets,3.0
3,1562.0,Kailee,Harmon,29-Sep-20,19-Oct-21,Thomas Garner,kailee.harmon@bestremotejob.com,Full-Time,Involuntary,Firm music future may most.,1942-04-01,*******1229,4222 Cooper Ports,West Marissafort,LA,Sales Representative,50943,Female,Black,Single,Fully Meets,3.0
4,1403.0,Lily,DiNocco,8-Jul-21,NaN,Austin Dixon,lily.dinocco@bestremotejob.com,Full-Time,Unk,NaN,1942-09-08,*******2356,8136 Theresa Avenue Suite 172,East Natalie,IN,Account Executive,133284,Female,White,Widowed,Exceeds,3.0

# Section 3: Encryption

In [5]:
# Generate a random secret encryption key
key = Fernet.generate_key()

# Create a Fernet cipher object with the secret key
cipher = Fernet(key)

# Set data type for email to string
employees[['ADEmail']] = employees[['ADEmail']].astype(str)

# Define a function to encrypt the email address
def encrypt_email(email):
    encrypted_email = cipher.encrypt(email.encode())
    return encrypted_email

# Encrypt the existing email address in the DataFrame
employees['ADEmail'] = employees['ADEmail'].apply(encrypt_email)

# Display the first 5 rows
employees.head()

,EmpID,FirstName,LastName,StartDate,ExitDate,Supervisor,ADEmail,EmployeeType,TerminationType,TerminationDescription,DOB,SSN,Address,City,State,JobTitle,Salary,Gender,Race,MaritalStatus,PerformanceScore,CurrentEmployeeRating
0,3460.0,Alisa,James,19-Feb-20,NaN,Dennis Henderson,b'gAAAAABmFbBGE5lb6I2NLFa8r_EiP_GTcTkaAS9T9npb...,Full-Time,Unk,NaN,1941-03-09,*******9255,53432 Jose Freeway Suite 977,New Davidside,IN,IT Support Specialist,79825,Male,Asian,Married,Fully Meets,3.0
1,1155.0,Allyson,Owen,17-Nov-18,12-Mar-20,Kimberly Marshall,b'gAAAAABmFbBGrSXxu225ChyUlOGMOzyNBmEHs8VmUFjJ...,Contract,Resignation,Provide machine statement now.,1942-01-07,*******1960,700 Quinn Green Suite 066,Haileyville,MS,Product Specialist,129867,Female,Other,Married,Fully Meets,3.0
2,3913.0,Henry,Zimmerman,14-Jan-20,8-Jun-22,Rodney Hart,b'gAAAAABmFbBG-GljX2wGQW5MKtGmTdVTUIZEl3c8ifB2...,Full-Time,Resignation,Management so author training floor stage could.,1942-02-06,*******9608,96444 Ingram Ford,East Michellechester,IN,Project Manager,134537,Female,White,Married,Fully Meets,3.0
3,1562.0,Kailee,Harmon,29-Sep-20,19-Oct-21,Thomas Garner,b'gAAAAABmFbBGtcegw0uN6nk0_LadYm8hh7vsaLPTfq6N...,Full-Time,Involuntary,Firm music future may most.,1942-04-01,*******1229,4222 Cooper Ports,West Marissafort,LA,Sales Representative,50943,Female,Black,Single,Fully Meets,3.0
4,1403.0,Lily,DiNocco,8-Jul-21,NaN,Austin Dixon,b'gAAAAABmFbBG84atxEl6WhN2PHNXlpTc92onGMAcCckw...,Full-Time,Unk,NaN,1942-09-08,*******2356,8136 Theresa Avenue Suite 172,East Natalie,IN,Account Executive,133284,Female,White,Widowed,Exceeds,3.0

# Section 4: Generalization

In [6]:
# Convert the 'DOB' column to datetime
employees['DOB'] = pd.to_datetime(employees['DOB'])

# Calculate age from date of birth
def calculate_age(dob):
    today = datetime.today()
    age = today.year - dob.year - ((today.month, today.day) < (dob.month, dob.day))
    return age
'''
# Calculate age from date of birth
def calculate_age(dob):
    today = datetime.today()
    age = relativedelta(today, dob).years
    return age
'''
# Calculate age and create a new column 'Age'
employees['Age'] = employees['DOB'].apply(calculate_age)

# Display the first 5 rows
employees.head()

,EmpID,FirstName,LastName,StartDate,ExitDate,Supervisor,ADEmail,EmployeeType,TerminationType,TerminationDescription,DOB,SSN,Address,City,State,JobTitle,Salary,Gender,Race,MaritalStatus,PerformanceScore,CurrentEmployeeRating,Age
0,3460.0,Alisa,James,19-Feb-20,NaN,Dennis Henderson,b'gAAAAABmFbBGE5lb6I2NLFa8r_EiP_GTcTkaAS9T9npb...,Full-Time,Unk,NaN,1941-03-09,*******9255,53432 Jose Freeway Suite 977,New Davidside,IN,IT Support Specialist,79825,Male,Asian,Married,Fully Meets,3.0,83.0
1,1155.0,Allyson,Owen,17-Nov-18,12-Mar-20,Kimberly Marshall,b'gAAAAABmFbBGrSXxu225ChyUlOGMOzyNBmEHs8VmUFjJ...,Contract,Resignation,Provide machine statement now.,1942-01-07,*******1960,700 Quinn Green Suite 066,Haileyville,MS,Product Specialist,129867,Female,Other,Married,Fully Meets,3.0,82.0
2,3913.0,Henry,Zimmerman,14-Jan-20,8-Jun-22,Rodney Hart,b'gAAAAABmFbBG-GljX2wGQW5MKtGmTdVTUIZEl3c8ifB2...,Full-Time,Resignation,Management so author training floor stage could.,1942-02-06,*******9608,96444 Ingram Ford,East Michellechester,IN,Project Manager,134537,Female,White,Married,Fully Meets,3.0,82.0
3,1562.0,Kailee,Harmon,29-Sep-20,19-Oct-21,Thomas Garner,b'gAAAAABmFbBGtcegw0uN6nk0_LadYm8hh7vsaLPTfq6N...,Full-Time,Involuntary,Firm music future may most.,1942-04-01,*******1229,4222 Cooper Ports,West Marissafort,LA,Sales Representative,50943,Female,Black,Single,Fully Meets,3.0,82.0
4,1403.0,Lily,DiNocco,8-Jul-21,NaN,Austin Dixon,b'gAAAAABmFbBG84atxEl6WhN2PHNXlpTc92onGMAcCckw...,Full-Time,Unk,NaN,1942-09-08,*******2356,8136 Theresa Avenue Suite 172,East Natalie,IN,Account Executive,133284,Female,White,Widowed,Exceeds,3.0,81.0

In [7]:
# Define age ranges and alias for generalization
age_ranges = {
    (20, 29): '20s',
    (30, 39): '30s',
    (40, 49): '40s',
    (50, 59): '50s',
    (60, 69): '60s',
    (70, 79): '70s',
    (80, 89): '80s'
}

# Apply generalization to the 'Age' column
def generalize_age(age):
    for (lower, upper), category in age_ranges.items():
        if lower <= age <= upper:
            return category

# Add an age range column to the DataFrame
employees['AgeRange'] = employees['Age'].apply(generalize_age)

# Drop the DOB and Age columns
employees.drop(['DOB', 'Age'], axis=1, inplace=True)

# Display the first 5 rows
employees.head()

,EmpID,FirstName,LastName,StartDate,ExitDate,Supervisor,ADEmail,EmployeeType,TerminationType,TerminationDescription,SSN,Address,City,State,JobTitle,Salary,Gender,Race,MaritalStatus,PerformanceScore,CurrentEmployeeRating,AgeRange
0,3460.0,Alisa,James,19-Feb-20,NaN,Dennis Henderson,b'gAAAAABmFbBGE5lb6I2NLFa8r_EiP_GTcTkaAS9T9npb...,Full-Time,Unk,NaN,*******9255,53432 Jose Freeway Suite 977,New Davidside,IN,IT Support Specialist,79825,Male,Asian,Married,Fully Meets,3.0,80s
1,1155.0,Allyson,Owen,17-Nov-18,12-Mar-20,Kimberly Marshall,b'gAAAAABmFbBGrSXxu225ChyUlOGMOzyNBmEHs8VmUFjJ...,Contract,Resignation,Provide machine statement now.,*******1960,700 Quinn Green Suite 066,Haileyville,MS,Product Specialist,129867,Female,Other,Married,Fully Meets,3.0,80s
2,3913.0,Henry,Zimmerman,14-Jan-20,8-Jun-22,Rodney Hart,b'gAAAAABmFbBG-GljX2wGQW5MKtGmTdVTUIZEl3c8ifB2...,Full-Time,Resignation,Management so author training floor stage could.,*******9608,96444 Ingram Ford,East Michellechester,IN,Project Manager,134537,Female,White,Married,Fully Meets,3.0,80s
3,1562.0,Kailee,Harmon,29-Sep-20,19-Oct-21,Thomas Garner,b'gAAAAABmFbBGtcegw0uN6nk0_LadYm8hh7vsaLPTfq6N...,Full-Time,Involuntary,Firm music future may most.,*******1229,4222 Cooper Ports,West Marissafort,LA,Sales Representative,50943,Female,Black,Single,Fully Meets,3.0,80s
4,1403.0,Lily,DiNocco,8-Jul-21,NaN,Austin Dixon,b'gAAAAABmFbBG84atxEl6WhN2PHNXlpTc92onGMAcCckw...,Full-Time,Unk,NaN,*******2356,8136 Theresa Avenue Suite 172,East Natalie,IN,Account Executive,133284,Female,White,Widowed,Exceeds,3.0,80s

# Section 5: Perturbation

In [8]:
# Set a seed for reproducibility
np.random.seed(42)  # You can use any integer value as the seed, but we will use 42 since it's the meaning of life

# Define perturbation method for salary column (adding random noise)
def perturb_salary(salary):
    noise = np.random.normal(loc=0, scale=100000)  # Add Gaussian noise with mean 0 and standard deviation 1000
    return round(salary + noise)  # Add noise to the original value and round

# Apply perturbation to the existing 'Salary' column
employees['Salary'] = employees['Salary'].apply(perturb_salary)

# Display the first 5 rows
employees.head()

,EmpID,FirstName,LastName,StartDate,ExitDate,Supervisor,ADEmail,EmployeeType,TerminationType,TerminationDescription,SSN,Address,City,State,JobTitle,Salary,Gender,Race,MaritalStatus,PerformanceScore,CurrentEmployeeRating,AgeRange
0,3460.0,Alisa,James,19-Feb-20,NaN,Dennis Henderson,b'gAAAAABmFbBGE5lb6I2NLFa8r_EiP_GTcTkaAS9T9npb...,Full-Time,Unk,NaN,*******9255,53432 Jose Freeway Suite 977,New Davidside,IN,IT Support Specialist,129496,Male,Asian,Married,Fully Meets,3.0,80s
1,1155.0,Allyson,Owen,17-Nov-18,12-Mar-20,Kimberly Marshall,b'gAAAAABmFbBGrSXxu225ChyUlOGMOzyNBmEHs8VmUFjJ...,Contract,Resignation,Provide machine statement now.,*******1960,700 Quinn Green Suite 066,Haileyville,MS,Product Specialist,116041,Female,Other,Married,Fully Meets,3.0,80s
2,3913.0,Henry,Zimmerman,14-Jan-20,8-Jun-22,Rodney Hart,b'gAAAAABmFbBG-GljX2wGQW5MKtGmTdVTUIZEl3c8ifB2...,Full-Time,Resignation,Management so author training floor stage could.,*******9608,96444 Ingram Ford,East Michellechester,IN,Project Manager,199306,Female,White,Married,Fully Meets,3.0,80s
3,1562.0,Kailee,Harmon,29-Sep-20,19-Oct-21,Thomas Garner,b'gAAAAABmFbBGtcegw0uN6nk0_LadYm8hh7vsaLPTfq6N...,Full-Time,Involuntary,Firm music future may most.,*******1229,4222 Cooper Ports,West Marissafort,LA,Sales Representative,203246,Female,Black,Single,Fully Meets,3.0,80s
4,1403.0,Lily,DiNocco,8-Jul-21,NaN,Austin Dixon,b'gAAAAABmFbBG84atxEl6WhN2PHNXlpTc92onGMAcCckw...,Full-Time,Unk,NaN,*******2356,8136 Theresa Avenue Suite 172,East Natalie,IN,Account Executive,109869,Female,White,Widowed,Exceeds,3.0,80s

# Section 6: Pseudonymization

In [9]:
# Set a seed for reproducibility
Faker.seed(42)  # You can use any integer value as the seed, but we will use 42 since it's the meaning of life

# Initialize Faker to generate synthetic names
faker = Faker()

# Generate replacement first names
replacement_first_names = [faker.first_name() for _ in range(len(employees))]

# Generate replacement last names
replacement_last_names = [faker.last_name() for _ in range(len(employees))]

# Create the name mapping
name_mapping = dict(zip(zip(employees['FirstName'], employees['LastName']), zip(replacement_first_names, replacement_last_names)))

# Define a function to pseudonymize names
def pseudonymize_names(row):
    return name_mapping[(row['FirstName'], row['LastName'])]

# Pseudonymize names by replacing with replacement names
employees[['Pseudonym_First_Name', 'Pseudonym_Last_Name']] = employees.apply(pseudonymize_names, axis=1, result_type='expand')

# Save the pseudonymized dataset
employees.to_csv('pseudonymized_employee_data.csv', index=False)

# Drop the original 'First_Name' and 'Last_Name' columns
employees.drop(['FirstName', 'LastName'], axis=1, inplace=True)

# Display the first 5 rows
employees.head()

,EmpID,StartDate,ExitDate,Supervisor,ADEmail,EmployeeType,TerminationType,TerminationDescription,SSN,Address,City,State,JobTitle,Salary,Gender,Race,MaritalStatus,PerformanceScore,CurrentEmployeeRating,AgeRange,Pseudonym_First_Name,Pseudonym_Last_Name
0,3460.0,19-Feb-20,NaN,Dennis Henderson,b'gAAAAABmFbBGE5lb6I2NLFa8r_EiP_GTcTkaAS9T9npb...,Full-Time,Unk,NaN,*******9255,53432 Jose Freeway Suite 977,New Davidside,IN,IT Support Specialist,129496,Male,Asian,Married,Fully Meets,3.0,80s,Danielle,Stewart
1,1155.0,17-Nov-18,12-Mar-20,Kimberly Marshall,b'gAAAAABmFbBGrSXxu225ChyUlOGMOzyNBmEHs8VmUFjJ...,Contract,Resignation,Provide machine statement now.,*******1960,700 Quinn Green Suite 066,Haileyville,MS,Product Specialist,116041,Female,Other,Married,Fully Meets,3.0,80s,Angel,Walton
2,3913.0,14-Jan-20,8-Jun-22,Rodney Hart,b'gAAAAABmFbBG-GljX2wGQW5MKtGmTdVTUIZEl3c8ifB2...,Full-Time,Resignation,Management so author training floor stage could.,*******9608,96444 Ingram Ford,East Michellechester,IN,Project Manager,199306,Female,White,Married,Fully Meets,3.0,80s,Joshua,Jones
3,1562.0,29-Sep-20,19-Oct-21,Thomas Garner,b'gAAAAABmFbBGtcegw0uN6nk0_LadYm8hh7vsaLPTfq6N...,Full-Time,Involuntary,Firm music future may most.,*******1229,4222 Cooper Ports,West Marissafort,LA,Sales Representative,203246,Female,Black,Single,Fully Meets,3.0,80s,Jeffrey,Ellis
4,1403.0,8-Jul-21,NaN,Austin Dixon,b'gAAAAABmFbBG84atxEl6WhN2PHNXlpTc92onGMAcCckw...,Full-Time,Unk,NaN,*******2356,8136 Theresa Avenue Suite 172,East Natalie,IN,Account Executive,109869,Female,White,Widowed,Exceeds,3.0,80s,Jill,Murillo

In [ ]:
# Conclusion

Now we can see all of our PII data is anonymized, yay!